/* -------------------- ---------- MOBILE ---------- -------------------- */

/* -------------------- ---------- MOBILE ---------- -------------------- */

    /* -------------------- ---------- MOBILE ---------- -------------------- */

        @media screen and (max-width: 650px) {
            /* --------------------  PAGE -------------------- */
                /* */
                .menu-last, .second-section, .menu-mobile{
                    display: none;
                }
                .header-container{
                    margin: auto;
                    width: 95%;
                }
                .top-header-img{
                    width: 25em;
                    margin: -2.5em -6.5em 0 0;
                }
                .bot-header-img{
                    width: 22.5em;
                }
                /* -------------------- */


                /* */
                .header-botom-txt{
                    margin: auto;
                }
                /* -------------------- */
                

                /* */
                .service-direction{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                }
                .column-reverse{
                    flex-direction: column-reverse;
                }
                .column-image-space{
                    margin-top: 1.5em;
                }
                /* -------------------- */
            /*  -------------------- -------------------- -------------------- */




            
            
            /* -------------------- MARKET PAGE -------------------- */
                /* */
                .founder-detail-wrap{
                    margin: auto;
                }
                .about-policy-shift{
                    display: flex;
                    flex-direction: column-reverse;
                }
                .founder-align{
                    text-align: center;
                }
                .display-none {
                    display: none;
                }
                .post-img {
                    max-width: 75vw;
                }
                .chat-page-floating-buttons {
                    right: 5%;
                    bottom: 5em;
                }
                /* -------------------- */


                /* */
                .left-abst-comm-parent{
                    border-radius: 0;
                    width: 100%;
                }
                .right-abst-comm-parent{
                    border-radius: 0;
                    width: 0%;
                }
                .abst-comm-parent{
                    height: calc(100% - 50px);
                }
                /* -------------------- */


                /* */

                /* -------------------- */
            /*  -------------------- -------------------- -------------------- */
        }

    /* -------------------- ---------- MOBILE ---------- -------------------- */

/* -------------------- ---------- MOBILE ---------- -------------------- */

/* -------------------- ---------- MOBILE ---------- -------------------- */










/* -------------------- ---------- TABLET ---------- -------------------- */

/* -------------------- ---------- TABLET ---------- -------------------- */

    /* -------------------- ---------- TABLET ---------- -------------------- */

        @media screen and (min-width: 650px) and (max-width: 992px) {
            /* --------------------  PAGE -------------------- */
                /* */
                .second-section{
                    display: none;
                }
                .header-container{
                    margin: auto;
                    width: 75%;
                }
                .top-header-img{
                    width: 27.5em;
                    margin: -3em -6.5em 0 0;
                }
                .bot-header-img{
                    width: 27.5em;
                }
                /* -------------------- */


                /* */
                .header-botom-txt{
                    margin: auto;
                }
                /* -------------------- */
                

                /* */
                .hexagon-section{
                    justify-content: center;
                }
                /* -------------------- */
                

                /* */
                .service-direction{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                }
                /* -------------------- */
            /*  -------------------- -------------------- -------------------- */




            
            
            /* --------------------  PAGE -------------------- */
                /* */
                .founder-detail-wrap{
                    margin: auto;
                }
                .about-policy-shift{
                    display: flex;
                    flex-direction: column-reverse;
                }
                .founder-align{
                    text-align: center;
                }
                .post-img {
                    max-width: 57.5vw;
                }
                .chat-page-floating-buttons {
                    right: 5%;
                    bottom: 5em;
                }
                /* -------------------- */


                /* */
                .left-abst-comm-parent{
                    border-radius: 0;
                    width: 100%;
                }
                .right-abst-comm-parent{
                    border-radius: 0;
                    width: 0%;
                }
                .abst-comm-parent{
                    height: calc(100% - 62.5px);
                }
                /* -------------------- */


                /* */

                /* -------------------- */
            /*  -------------------- -------------------- -------------------- */
        }

    /* -------------------- ---------- TABLET ---------- -------------------- */

/* -------------------- ---------- TABLET ---------- -------------------- */

/* -------------------- ---------- TABLET ---------- -------------------- */










/* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */

/* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */

    /* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */

        @media screen and (min-width: 992px) and (max-width: 1200px) {
            /* --------------------  PAGE -------------------- */
                /* */
                .menu-last, .mobile-menu{
                    display: none;
                }
                .header-container{
                    margin: auto;
                    width: 100%;
                }
                .top-header-img{
                    width: 35;
                    margin: -3em -7.5em 0 0;
                }
                .bot-header-img{
                    width: 35em;
                }
                /* -------------------- */


                /* */
                .hexagon-section{
                    justify-content: center;
                }
                /* -------------------- */
                

                /* */
                .service-direction{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                }
                .about-policy-shift{
                    display: flex;
                    flex-direction: row;
                }
                .hero-con {
                    padding: 1em 0 2em 0;
                }
                .post-img {
                    max-width: 42.5vw;
                }
                .chat-page-floating-buttons {
                    right: 37.5%;
                    bottom: 5em;
                }
                /* -------------------- */
                

                /* */
                .left-abst-comm-parent{
                    border-radius: 0 0.5em 0 0;
                    width: 64%;
                }
                .right-abst-comm-parent{
                    border-radius: 0.5em 0 0 0;
                    width: 35%;
                }
                .abst-comm-parent{
                    height: calc(100% - 62.5px);
                }
                /* -------------------- */
            /*  -------------------- -------------------- -------------------- */




            
            
            /* --------------------  PAGE -------------------- */
                /* */

                /* -------------------- */


                /* */

                /* -------------------- */


                /* */

                /* -------------------- */
            /*  -------------------- -------------------- -------------------- */
        }

    /* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */

/* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */

/* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */










/* -------------------- ---------- LAPTOP ---------- -------------------- */

/* -------------------- ---------- LAPTOP ---------- -------------------- */

    /* -------------------- ---------- LAPTOP ---------- -------------------- */

        @media screen and (min-width: 1200px) {
            /* -------------------- HOME PAGE -------------------- */
                /* */
                .mobile-menu{
                    display: none;
                }
                .header-container{
                    width: 95%;
                }
                .top-header-img{
                    width: 40em;
                    margin: -4em -8em 0 0;
                }
                .bot-header-img{
                    width: 40em;
                }
                /* -------------------- */


                /* */
                .hexagon-section{
                    justify-content: center;
                }
                /* -------------------- */
                

                /* */
                .service-direction{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                }
                .about-policy-shift{
                    display: flex;
                    flex-direction: row;
                }
                .hero-con {
                    padding: 1em 0 2em 0;
                }
                .post-img {
                    max-width: 30vw;
                }
                .chat-page-floating-buttons {
                    right: 37.5%;
                    bottom: 5em;
                }
                /* -------------------- */
                

                /* */
                .left-abst-comm-parent{
                    border-radius: 0 0.5em 0 0;
                    width: 64%;
                }
                .right-abst-comm-parent{
                    border-radius: 0.5em 0 0 0;
                    width: 35%;
                }
                .abst-comm-parent{
                    height: calc(100% - 65px);
                }
                /* -------------------- */
            /*  -------------------- -------------------- -------------------- */




            
            
            /* -------------------- MAR PAGE -------------------- */
                /* */

                /* -------------------- */


                /* */

                /* -------------------- */


                /* */

                /* -------------------- */
            /*  -------------------- -------------------- -------------------- */
        }

    /* -------------------- ---------- LAPTOP ---------- -------------------- */

/* -------------------- ---------- LAPTOP ---------- -------------------- */

/* -------------------- ---------- LAPTOP ---------- -------------------- */