/* -------------------- -------------------- GENERAL STYLES -------------------- -------------------- */
    /* -------------------- STRUCTURE CONTAINER -------------------- */
        :root{
            /* light web backgrouned */
            --light-background: #F8F7FA;
            /* -------------------- */
            /* dark web background */
            --dark-background: #E8E6EB;
            /* -------------------- */
        }

        *{
            box-sizing: border-box;
            margin: 0px;
            padding: 0px;
        }
        body{
            height: 100%;
            width: 100vw;
        }
        /* Customized container */
        .custom-row{
            display: flex;
            flex-direction: row;
            width: 100%;
        }
        /* -------------------- */



        /* Nav-link to toggle between main page and settings container */
        .responsive-navigation-menu{
            background: var(--light-background);
            height: 100vh;
        }
        .res-nav-wrap{
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            height: 90vh;
            width: 100%;
        }
        .res-nav-btn{
            background: green;
            display: flex;
            border-radius: 0.75em;
            height: 2.75em;
            cursor: pointer;
            padding: 0.5em;
            width: 2.75em;
        }
        #res-up{
            background: #f3ba2f39;
        }
        #res-down{
            background: transparent;
        }
        #screen-bottom-nav-left{
            background: #f3ba2f39;
        }
        #screen-bottom-nav-right{
            background: transparent;
        }
        /*  */



        /*  */
        .tablet-navigation{
            background: var(--dark-background);
            border-left: 0.125em solid #a7a7a7;
            overflow: hidden;
            display: flex;
            height: 100vh;
        }
        .tab-nav-wrap{
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
        }
        .tab-nav-btn{
            display: flex;
            border-radius: 1em;
            height: 4em;
            cursor: pointer;
            padding: 1em;
            width: 4em;
        }
        #tab-up{
            background: #f3ba2f39;
        }
        #tab-down{
            background: transparent;
        }
        /* -------------------- */
        
        
        
        
        /*  */
        .one-page-parent{
            height: 100%;
        }
        /* -------------------- */
        
    /*  -------------------- -------------------- -------------------- */




                
                
    /* -------------------- FIRST SECTION -------------------- */
        /* section */
        .first-section{
            display: block;
            height: 100%;
            
        }
        /* -------------------- */
        
        /* spacer container to fit in when first section is fixed */
        .structure-spacer{
            display: block;
            height: 100%;
        }
        /* -------------------- */
    /*  -------------------- -------------------- -------------------- */




    
    /* -------------------- SECOND SECTION -------------------- */
        /* section */
        .second-section{
            display: block;
            height: 100%;
        }
        /* -------------------- */
    /*  -------------------- -------------------- -------------------- */




    
    /* -------------------- THIRD SECTION -------------------- */
        /* section */
        .third-section{
            display: block;
            height: 100%;
        }
        /* -------------------- */
    /*  -------------------- -------------------- -------------------- */




    
    /* --------------------  -------------------- */
        /*  */
        .page-hide{
            display: none;
        }
        .page-show{
            display: flex;
        }
        /* -------------------- */
    /*  -------------------- -------------------- -------------------- */
/* -------------------- -------------------- -------------------- -------------------- -------------------- */










/* -------------------- -------------------- CONTAINER SECTION PAGE -------------------- -------------------- */
    /* -------------------- Hamburger Menu Page -------------------- */
        /* Hambureger menu parent container */
       
        /* -------------------- */
    /* -------------------- -------------------- -------------------- */





    /* --------------------  -------------------- */
        /*  */
        .general-page{
            flex-direction: column;
            position: relative;
            height: 100%;
            overflow-x: hidden;
            width: 100%;
        }
        button{
            margin: 7.5px;
        }

        /*  */
        
        /* -------------------- */
    /*  -------------------- -------------------- -------------------- */





    /* -------------------- First section IDS -------------------- */
        /*  */
        #menu-page{
            display: flex;
        }
        /* ------------ */
        
        /*  */
        #settings-first-page{
            background: var(--light-background);
            border-right: 2px solid rgba(0, 0, 0, 0.25);
        }
        /* ------------ */
    /*  -------------------- -------------------- -------------------- */





    /* -------------------- Second section IDS -------------------- */
        /*  */
        #account-page{
            display: none;
        }
        /* ------------ */
        
        /*  */
        #assets-page{
            background: var(--dark-background);
            display: none;
        }
        /* ------------ */
        
        /*  */
        #bioauth-page{
            background: var(--light-background);
            display: none;
        }
        /* ------------ */

        /*  */
        #convert-page{
            background: var(--light-background);
            display: none;
        }
        /* ------------ */
        
        /*  */
        #help-page{
            background: var(--light-background);
            display: none;
        }
        /* ------------ */
        
        /*  */
        #home-page{
            background: var(--dark-background);
            display: flex;
        }
        /* ------------ */
        
        /*  */
        #message-page{
            background: var(--light-background);
            height: 100%;
            display: none;
        }
        /* ------------ */
        
        /*  */
        #notification-page{
            background: var(--light-background);
            display: none;
        }
        /* ------------ */
        
        /*  */
        #referral-page{
            background: var(--light-background);
            display: none;
        }
        /* ------------ */
        
        /*  */
        #settings-second-page{
            background: var(--dark-background);
        }
        /* ------------ */
        
        /*  */
        #token-page{
            background: var(--dark-background);
            display: none;
        }
        /* ------------ */
        
        /*  */
        #transaction-history-page{
            background: var(--dark-background);
            display: none;
        }
        /* ------------ */
    /*  -------------------- -------------------- -------------------- */





    /* -------------------- Third section IDS -------------------- */
        /*  */
        #about-page{
            background: var(--light-background);
            display: none;
        }
        /* ------------ */

        /*  */
        #add-token-page{
            background: transparent;
            display: flex;
        }
        /* ------------ */
        
        /*  */        
        #change-password-page{
            background: var(--light-background);
            display: none;
        }
        /* ------------ */
        
        /*  */
        #convert-select-page{
            background: transparent;
            display: none;
        }
        /* ------------ */
        
        /*  */
        #forgot-password-page{
            background: var(--light-background);
            display: none;
        }
        /* ------------ */
        
        /*  */
        #invite-page{
            background: var(--light-background);
            display: none;
        }
        /* ------------ */
        
        /*  */
        #language-page{
            background: var(--dark-background);
            display: none;
            z-index: 6;
        }
        /* ------------ */
        
        /*  */
        #market-info-page{
            background: var(--light-background);
            display: none;
        }
        /* ------------ */
        
        /*  */
        #passcode-page{
            background: var(--light-background);
            display: none;
        }
        /* ------------ */
        
        /*  */
        #pattern-page{
            background: var(--light-background);
            display: none;
        }
        /* ------------ */
        
        /*  */
        #pay-pin-page{
            background: var(--light-background);
            display: none;
        }
        /* ------------ */
        
        /*  */
        #profile-page{
            background: var(--light-background);
            display: none;
        }
        /* ------------ */
        
        /*  */
        #receive-page{
            background: var(--light-background);
            display: none;
        }
        /* ------------ */
        
        /*  */
        #refhis-page{
            background: var(--light-background);
            display: none;
        }
        /* ------------ */
        
        /*  */
        #remember-password-page{
            background: var(--light-background);
            display: none;
        }
        /* ------------ */
        
        /*  */
        #rules-page{
            background: var(--light-background);
            display: none;
        }
        /* ------------ */
        
        /*  */
        #select-send-page{
            background: transparent;
            display: none;
        }
        /* ------------ */
        
        /*  */
        #select-receive-page{
            background: transparent;
            display: none;
        }
        /* ------------ */
        
        /*  */
        #send-page{
            background: var(--light-background);
            display: none;
        }
        /* ------------ */
        
        /*  */
        #support-page{
            background: var(--light-background);
            display: none;
            height: 100%;
            width: 100%;
        }
        /* ------------ */
        
        /*  */
        #user-info-slide-page{
            display: none;
        }
        /* ------------ */
        
        /*  */
        #verification-page{
            background: var(--light-background);
            display: none;
        }
        /* ------------ */
    /*  -------------------- -------------------- -------------------- */





    /* -------------------- Overflow control -------------------- */
        /* Section overflow control */
            #first-section{
                overflow: hidden;
            }
            #second-section{
                overflow: hidden;
            }
            #third-section{
                overflow: hidden;
            }
            /* Footer controller */
            .footer-section{
                overflow: hidden;
            }
        /* -------------------- */
    /*  -------------------- -------------------- -------------------- */
/* -------------------- -------------------- -------------------- -------------------- -------------------- */










/* -------------------- ---------- MOBILE ---------- -------------------- */

    /* -------------------- ---------- MOBILE ---------- -------------------- */

        /* -------------------- ---------- MOBILE ---------- -------------------- */

            @media screen and (max-width: 650px) {
                /* -------------------- NAV - LINK PAGE SECTION -------------------- */
                    /* Nav-link to toggle between main page and settings container */
                    .responsive-navigation-menu{
                        width: 0%;
                    }
                    /* -------------------- */

                    /* Nav-link to toggle between main page and settings container */
                    .main-screen-display{
                        width: 100%;
                    }
                    
                    .tablet-navigation{
                        width: 0%;
                    }
                    .add-token-right-wrap{
                        width: 65%
                    }
                    /* Token balance*/
                    .hmepg-sub-token-right-con{
                        font-size: 1em;
                        font-weight: var(--large-font);
                    }
                /*  -------------------- -------------------- -------------------- */




                
                
                /* -------------------- FIRST SECTION -------------------- */
                    /* section */
                    .first-section-change{
                        width: 0%;
                    }
                    .first-section-changed{
                        width: 100%;
                        position: fixed;
                        z-index: 25;
                    }
                    /* -------------------- */
                    
                    /* spacer container to fit in when first section is fixed */
                    .structure-spacer{
                        width: 0%;
                    }
                /*  -------------------- -------------------- -------------------- */




                
                /* -------------------- SECOND SECTION -------------------- */
                    /* section */
                    .second-section-change{
                        width: 100%;
                    }
                    .second-section-changed{
                        width: 100%;
                        position: fixed;
                    }
                    /* -------------------- */
                /*  -------------------- -------------------- -------------------- */




                
                /* -------------------- THIRD SECTION -------------------- */
                    /* section */
                    .third-section-change{
                        width: 0%;
                    }
                    .third-section-changed{
                        width: 100%;
                        position: fixed;
                    }
                    /* -------------------- */
                /*  -------------------- -------------------- -------------------- */




    
                /* -------------------- Footer - Container -------------------- */
                    /* footer container */
                    .structure-main-con{
                        height: 100%;
                        position: relative;
                    }
                    .footer-section{
                        height: 0em;
                    }
                    /* -------------------- */
                /* -------------------- -------------------- -------------------- */





                /* -------------------- Settings page display -------------------- */
                    /*  */
                    .setting-first-show{
                        display: none;
                    }
                    .setting-second-show{
                        display: flex;
                    }
                    /* -------------------- */
                /*  -------------------- -------------------- -------------------- */





                /* -------------------- Bioauth page display -------------------- */
                    /*  */
                    .comment-notify-wrap {
                        width: 100%;
                    }
                    .chat-page-floating-buttons {
                        right: 5%;
                        bottom: 8em;
                    }
                    .ea-start-trading-button{
                        right: 5%;
                        bottom: 2em;
                    }
                    .community-header-img {
                        margin-right: 1.1875em;
                    }
                    .post-img {
                        max-width: 75vw;
                    }
                    .pc-null-img-sub-con{
                        margin-top: 35%;
                    }
                    /* -------------------- */
                /*  -------------------- -------------------- -------------------- */
            }

        /* -------------------- ---------- MOBILE ---------- -------------------- */

    /* -------------------- ---------- MOBILE ---------- -------------------- */

/* -------------------- ---------- MOBILE ---------- -------------------- */










/* -------------------- ---------- TABLET ---------- -------------------- */

    /* -------------------- ---------- TABLET ---------- -------------------- */

        /* -------------------- ---------- TABLET ---------- -------------------- */

            @media screen and (min-width: 650px) and (max-width: 992px) {
                /* -------------------- NAV - LINK PAGE SECTION -------------------- */
                    /* Nav-link to toggle between main page and settings container */
                    .responsive-navigation-menu{
                        width: 0%;
                    }
                    .add-token-right-wrap{
                        width: 50%
                    }
                    /* -------------------- */

                    /* Nav-link to toggle between main page and settings container */
                    .main-screen-display{
                        width: 89%;
                    }
                    
                    .tablet-navigation{
                        width: 11%;
                    }
                    /* Token balance*/
                    .hmepg-sub-token-right-con{
                        font-size: 1.1em;
                        font-weight: var(--large-font);
                    }
                    /* -------------------- */
                /*  -------------------- -------------------- -------------------- */




                
                
                /* -------------------- FIRST SECTION -------------------- */
                    /* section */
                    .first-section-change{
                        width: 3.5em;
                    }
                    .first-section-changed{
                        width: 100%;
                        position: absolute;
                        z-index: 25;
                    }
                    /* -------------------- */
                    
                    /* spacer container to fit in when first section is fixed */
                    .structure-spacer{
                        width: 15%;
                    }
                /*  -------------------- -------------------- -------------------- */




                
                /* -------------------- SECOND SECTION -------------------- */
                    /* section */
                    .second-section-change{
                        width: 100%;
                    }
                    .second-section-changed{
                        width: 100%;
                        position: relative;
                    }
                    /* -------------------- */
                /*  -------------------- -------------------- -------------------- */




                
                /* -------------------- THIRD SECTION -------------------- */
                    /* section */
                    .third-section-change{
                        width: 0%;
                    }
                    .third-section-changed{
                        width: 100%;
                        position: absolute;
                    }
                    /* -------------------- */
                /*  -------------------- -------------------- -------------------- */




    
                /* -------------------- Footer - Container -------------------- */
                    /* footer container */
                    .structure-main-con{
                        height: 100%;
                        position: relative;
                    }
                    .footer-section{
                        height: 0em;
                    }
                    /* -------------------- */
                /* -------------------- -------------------- -------------------- */





                /* -------------------- Settings page display -------------------- */
                    /*  */
                    .setting-first-show{
                        display: none;
                    }
                    .setting-second-show{
                        display: flex;
                    }
                    /* -------------------- */
                /*  -------------------- -------------------- -------------------- */





                /* -------------------- Bioauth page display -------------------- */
                    /*  */
                    .comment-notify-wrap {
                        width: 83%;
                    }
                    .chat-page-floating-buttons {
                        right: 16%;
                        bottom: 8.5em;
                    }
                    .ea-start-trading-button{
                        right: 15%;
                        bottom: 2.5em;
                    }
                    .community-header-img {
                        margin-right: 1.75em;
                    }
                    .post-img {
                        max-width: 57.5vw;
                    }
                    .pc-null-img-sub-con{
                        margin-top: 32.5%;
                    }
                    /* -------------------- */
                /*  -------------------- -------------------- -------------------- */
            }

        /* -------------------- ---------- TABLET ---------- -------------------- */

    /* -------------------- ---------- TABLET ---------- -------------------- */

/* -------------------- ---------- TABLET ---------- -------------------- */










/* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */

    /* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */

        /* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */

            @media screen and (min-width: 992px) and (max-width: 1200px) {
                /* -------------------- NAV - LINK PAGE SECTION -------------------- */
                    /* Nav-link to toggle between main page and settings container */
                    .responsive-navigation-menu{
                        width: 6%;
                    }
                    /* -------------------- */

                    /* Nav-link to toggle between main page and settings container */
                    .main-screen-display{
                        width: 94%;
                    }
                    
                    .tablet-navigation{
                        width: 0%;
                    }
                    /* Token balance*/
                    .hmepg-sub-token-right-con{
                        font-size: 1.25em;
                        font-weight: var(--large-font);
                    }
                /*  -------------------- -------------------- -------------------- */




                
                
                /* -------------------- FIRST SECTION -------------------- */
                    /* section */
                    .first-section-change{
                        width: 35%;
                    }
                    .first-section-changed{
                        width: 35%;
                        position: relative;
                    }
                    /* -------------------- */
                    
                    /* spacer container to fit in when first section is fixed */
                    .structure-spacer{
                        width: 0%;
                    }
                /*  -------------------- -------------------- -------------------- */




                
                /* -------------------- SECOND SECTION -------------------- */
                    /* section */
                    .second-section-change{
                        width: 100%;
                    }
                    .second-section-changed{
                        width: 100%;
                        position: relative;
                    }
                    /* -------------------- */
                /*  -------------------- -------------------- -------------------- */




                
                /* -------------------- THIRD SECTION -------------------- */
                    /* section */
                    .third-section-change{
                        width: 0%;
                    }
                    .third-section-changed{
                        width: 100%;
                        position: absolute;
                    }
                    /* -------------------- */
                /*  -------------------- -------------------- -------------------- */




    
                /* -------------------- Footer - Container -------------------- */
                    /* footer container */
                    .footer-section{
                        height: 0em;
                    }
                    /* -------------------- */
                /* -------------------- -------------------- -------------------- */





                /* -------------------- Settings page display -------------------- */
                    /*  */
                    .setting-first-show{
                        display: flex;
                    }
                    .setting-second-show{
                        display: none;
                    }
                    /* -------------------- */
                /*  -------------------- -------------------- -------------------- */




    
                /* -------------------- Footer - Container -------------------- */
                    /* footer container */
                    .structure-main-con{
                        height: calc(100% - 2.05em);
                        position: relative;
                    }
                    .footer-section{
                        align-items: center;
                        background: var(--dark-background);
                        display: flex;
                        font-weight: 600;
                        font-size: 0.85em;
                        height: 2.05em;
                        justify-content: center;
                        width: 100%;
                    }
                    /* -------------------- */



                    /* Nav-link to toggle between main page and settings container */
                    .responsive-navigation-menu{
                        background: var(--dark-background);
                    }
                /* -------------------- -------------------- -------------------- */





                /* -------------------- Bioauth page display -------------------- */
                    /*  */
                    .comment-notify-wrap {
                        width: 70%;
                    }
                    .chat-page-floating-buttons {
                        right: 2.5%;
                        bottom: 10em;
                    }
                    .ea-start-trading-button{
                        right: 2.5%;
                        bottom: 3.5em;
                    }
                    .community-header-img {
                        margin-right: 1.8em;
                    }
                    #jump-to-id{
                        margin-top: -15em;
                    }

                    
                    .post-img {
                        max-width: 42.5vw;
                    }
                    /* -------------------- */
                    .pc-null-img-sub-con{
                        margin-top: 10%;
                    }
                /*  -------------------- -------------------- -------------------- */
            }

        /* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */

    /* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */

/* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */










/* -------------------- ---------- LAPTOP ---------- -------------------- */

    /* -------------------- ---------- LAPTOP ---------- -------------------- */

        /* -------------------- ---------- LAPTOP ---------- -------------------- */

            @media screen and (min-width: 1200px) {
                /* -------------------- NAV - LINK PAGE SECTION -------------------- */
                    /* Nav-link to toggle between main page and settings container */
                    .responsive-navigation-menu{
                        width: 4%;
                    }
                    /* -------------------- */

                    /* Nav-link to toggle between main page and settings container */
                    .main-screen-display{
                        width: 96%;
                    }
                    
                    .tablet-navigation{
                        width: 0%;
                    }
                    #settings-first-page {
                        margin-bottom: 5em;
                    }
                    /* Token balance*/
                    .hmepg-sub-token-right-con{
                        font-size: 1.3em;
                        font-weight: var(--large-font);
                    }
                /*  -------------------- -------------------- -------------------- */




                
                
                /* -------------------- FIRST SECTION -------------------- */
                    /* section */
                    .first-section-change{
                        width: 27.5%;
                    }
                    .first-section-changed{
                        width: 27.5%;
                        position: relative;
                    }
                    /* -------------------- */
                    
                    /* spacer container to fit in when first section is fixed */
                    .structure-spacer{
                        width: 0%;
                    }
                /*  -------------------- -------------------- -------------------- */




                
                /* -------------------- SECOND SECTION -------------------- */
                    /* section */
                    .second-section-change{
                        width: 57.5%;
                    }
                    .second-section-changed{
                        width: 57.5%;
                        position: relative;
                    }
                    /* -------------------- */
                /*  -------------------- -------------------- -------------------- */




                
                /* -------------------- THIRD SECTION -------------------- */
                    /* section */
                    .third-section-change{
                        width: 42.5%;
                    }
                    .third-section-changed{
                        width: 42.5%;
                        position: relative;
                    }
                    /* -------------------- */
                /*  -------------------- -------------------- -------------------- */




    
                /* -------------------- Footer - Container -------------------- */
                    /* footer container */
                    .structure-main-con{
                        height: calc(100% - 1.8em);
                        position: relative;
                    }
                    .footer-section{
                        align-items: center;
                        background: var(--light-background);
                        display: flex;
                        font-weight: 600;
                        font-size: 0.85em;
                        height: 2.05em;
                        justify-content: center;
                        width: 100%;
                    }
                    /* -------------------- */
                /* -------------------- -------------------- -------------------- */





                /* -------------------- Settings page display -------------------- */
                    /*  */
                    .setting-first-show{
                        display: flex;
                    }
                    .setting-second-show{
                        display: none;
                    }
                    /* -------------------- */
                /*  -------------------- -------------------- -------------------- */





                /* -------------------- Bioauth page display -------------------- */
                    /*  */
                    .comment-notify-wrap {
                        width: 42%;
                    }
                    .chat-page-floating-buttons {
                        right: 35%;
                        bottom: 10.5em;
                    }
                    .ea-start-trading-button{
                        right: 2%;
                        bottom: 3.5em;
                    }
                    .pointer-event{
                        pointer-events: none;
                    }
                    .community-header-img {
                        margin-right: 1.5em;
                    }
                    #jump-to-id{
                        margin-top: -25em;
                    }
                    
                    .post-img {
                        max-width: 30vw;
                    }
                    .pc-null-img-sub-con{
                        margin-top: 15%;
                    }
                    /* -------------------- */
                /*  -------------------- -------------------- -------------------- */
            }

        /* -------------------- ---------- LAPTOP ---------- -------------------- */

    /* -------------------- ---------- LAPTOP ---------- -------------------- */

/* -------------------- ---------- LAPTOP ---------- -------------------- */
